.container {
  position: relative;
  background: linear-gradient(to bottom right, #eff6ff, #ffffff, #f5f3ff);
}

.sizing {
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 5rem;
}

.outline {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 1.5rem;
  align-items: center;
}

.left {
  text-align: left;
}

.infoIconContainer {
  padding: 0.5rem 1rem;
  background-color: lightblue;
  border-radius: 1rem;
  display: inline-flex; /* what does this do */
}

.infoIcon {
  color: darkblue;
}

.titleText {
  font-size: 4rem;
  font-weight: 500;
}

.description {
  font-size: 1.5rem;
  color: rgb(90, 90, 90);
}

.buttons {
  display: flex;
  margin-top: 4rem;
  gap: 2rem;
}

.getstartedforfree {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  gap: 0.5rem;
  padding: 1rem 2rem;
  color: white;
  border: none;
  font-size: large;
  background-color: rgb(51, 51, 238);
}

.getstartedforfree:hover {
  background-color: rgb(71, 80, 210);
  transition: ease-in-out 150ms;
}

.watchdemo {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border-color: black;
  color: black;
  font-size: large;
  background-color: #ffff;
  padding: 1rem 2rem;
  transition: ease-in-out 150ms;
}

.watchdemo:hover {
  background-color: #eff6ff;
}

.line {
  margin-top: 3rem;
}

.dataContainer {
  margin-top: 1rem;
  display: flex;
  gap: 0rem 8rem;
}

.studentsNumber,
.successNumber,
.problemsNumber {
  font-size: 2rem;
  margin-bottom: -0.8rem;
}

.right {
  position: relative;
  text-align: right;
}

img {
  border-radius: 2rem;
}
